<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">api shared</div>
    <div class="panel-body">These services are available without session</div>
    <div class="list-group">
      {{#link-to "login" class="list-group-item"}}
        <h4>Logins</h4>
        <div>sessions via email, password, and accountToken</div>
      {{/link-to}}
      {{#link-to "users" class="list-group-item" disabled=true}}
        <h4>User creation</h4>
        <div>Registration with users</div>
      {{/link-to}}
      {{#link-to "service-plans" class="list-group-item" disabled=true}}
        <h4>Service Plans</h4>
        <div>Viewing Service Plans</div>
      {{/link-to}}
      {{#link-to "atomic" class="list-group-item"}}
        <h4>Atomic Transactions</h4>
        <div>controller based @atomic function (deprecated)</div>
      {{/link-to}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">apix shared</div>
    <div class="panel-body">These data models are available to logged in users</div>
    <div class="list-group">
      {{#link-to "apix.accounts" class="list-group-item"}}
        <h4>Accounts</h4>
        <div>All the accounts that belongs to the logged in user</div>
      {{/link-to}}
    </div>
  </div>

</div>