{{#em-form-for model action="submit" as |f|}}
  {{em-date-field f name="arrivedAt" prefix="fa-calendar"}}

  <div class="actions">
    <button type="submit" class="btn btn-lg btn-default">
      Submit
    </button>
  </div>
{{/em-form-for}}